.lower-container{
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

@media only screen and (max-width: 1280px) {
    .lower-container{
        .form{
            width: 100%;
            iframe{
                width: 90%;
            }
        }
    }
}