<mat-card class="hero-card">
        <div class="first-child-dummy"></div>
        <img class="hero-photo border circle" mat-card-image src="assets/profile.jpg" alt="Profile photo">
        <mat-card-header> 
            <mat-card-title class="hero-line">Jude Naveen Raj Ilango</mat-card-title>
            <mat-card-subtitle class="subhero-line-1">CoFounder of Arktek</mat-card-subtitle>
            <mat-card-subtitle class="subhero-line-2">Full Stack Web Developer and Javascript Enthusiast</mat-card-subtitle>
        </mat-card-header>
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-actions>
        <div class="brands-container">
                <app-brand-link [brand]="'Github'" [brandImg]="'assets/GitHub-Mark-120px-plus.png'" [brandLink]="'https://github.com/malfusion'"></app-brand-link>
                <app-brand-link [brand]="'LinkedIn'" [brandImg]="'assets/linkedin-120.png'" [brandLink]="'https://www.linkedin.com/in/judenaveenraj/'"></app-brand-link>
        </div>
    </mat-card-actions>
</mat-card>


