.list-title{
    width: 100%;
    margin: 20px auto;
    text-align: center;

    .title-text{
        background: #fafafa;
        color: #333;
        padding: 0px 20px;
    }
}
.list-title::after{
    content: "";
    position: relative;
    bottom: 10px;
    z-index: -1;
    display: block;
    height: 2px;
    width: 100%;
    background: #ddd;
}