<div class="page-container">
    <app-profile-hero></app-profile-hero>
    <div class="lower-container">
            <div class="experience-container">
                    <app-experience-list [icon]="'school'" [experiences]="education" [title]="'E D U C A T I O N'"></app-experience-list>
            </div>
        <div class="experience-container">
                <app-experience-list [icon]="'work'" [experiences]="work" [title]="'E X P E R I E N C E'"></app-experience-list>
        </div>
        
        <!-- <div class="education-container"></div> -->
    </div>
</div>
