.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card-container {
    width: 300px;
    padding: 50px;
}

.title-container{
    max-width: 700px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.list-title{
    width: 100%;
    margin: 30px auto 0px auto;
    text-align: center;
    font-size: 24px;

    .title-text{
        background: #fafafa;
        color: #333;
        padding: 0px 20px;
    }
}
.list-title::after{
    content: "";
    position: relative;
    bottom: 10px;
    z-index: -1;
    display: block;
    height: 2px;
    width: 100%;
    background: #ddd;
}


@media only screen and (max-width: 600px) {
    .project-card-container {
        width: 90%;
    }
    
}