.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar{
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.title{
  font-weight: 400;
}

.toolbar-links{
  display: flex;
  flex-direction: row;

  .toolbar-link{
    font-weight: 200;
    font-size: 1rem;
    margin: auto 10px auto 10px;

  }
}

.unstyled-link{
  text-decoration: none; 
  color: inherit;
  &:visited { text-decoration: none; color: inherit; }
  &:hover { text-decoration: none; color: inherit; }
  &:focus { text-decoration: none; color: inherit; }
  &:hover, &:active { text-decoration: none; color: inherit; }
}